{{ description|raw }}
{% for districtId, volunteers in byDistricts %}
    <p>{{ 'region_email.content.district'|trans({'%district_name%': districtId|districtname}) }}</p>
    <ul>
        {% for volunteer in volunteers %}
            <li>
                {{ volunteer.name }} (<a href="mailto:{{ volunteer.email }}">{{ volunteer.email }}</a>),
                {% if volunteer.isTroopMember %}
                    {% if volunteer.isTroopLeader %}
                        {{ 'region_email.troop_leader'|trans({'%name%': volunteer.troop.name}) }},
                    {% else %}
                        {{ 'region_email.troop_member'|trans({'%name%': volunteer.troop.name}) }},
                    {% endif %}
                {% endif %}
                {{ 'region_email.service'|trans }} {{ volunteer.serviceMainId|servicename }}
                {% if volunteer.serviceExtraId %}/ {{ volunteer.serviceExtraId|servicename }}{% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ 'region_email.content.empty'|trans }}</p>
{% endfor %}
{{ 'region_email.content.footer'|trans|raw }}
