{% extends 'Wyd2016Bundle:admin:_template.html.twig' %}
{% import 'Wyd2016Bundle:admin:_macro.html.twig' as macro %}
{% import 'Wyd2016Bundle::_macro.html.twig' as globalMacro %}

{% block content %}
    {{ globalMacro.flashBagMessages('success', true) }}
    {{ globalMacro.flashBagMessages('error', true) }}
    {% if isReminderSendingPossible %}
        <a href="{{ path('admin_troop_show', {id: troop.id, sendReminder: 'true'}) }}" class="btn btn-primary btn-small">{{ 'admin.reminder.button'|trans }}</a>
    {% elseif not troop.confirmed and troop.createdAt != troop.updatedAt %}
        {{ globalMacro.message('admin.reminder.sent_date'|trans({'%date%': troop.updatedAt|date('Y-m-d')}), 'message') }}
    {% endif %}
    <h1>{{ 'admin.troop'|trans }}</h1>
    <dl class="list">
        <dt>{{ 'form.status'|trans }}:</dt>
        <dd>{{ troop.status|statusname }}</dd>
        <dt>{{ 'form.troop_name'|trans }}:</dt>
        <dd>{{ troop.name }}</dd>
        <dt>{{ 'form.country'|trans }}:</dt>
        <dd>{{ troop.leader.country|localizedcountry }}</dd>
        {% if troop.leader.associationName %}
            <dt>{{ 'form.association_name'|trans }}:</dt>
            <dd>{{ troop.leader.associationName }}</dd>
        {% endif %}
        {% if troop.leader.regionId > 0 %}
            <dt>{{ 'form.region'|trans }}:</dt>
            <dd>
                <a href="{{ path('admin_volunteer_index', {regionId: troop.leader.regionId}) }}">
                    {{ troop.leader.regionId|regionname }}
                </a>
            </dd>
        {% endif %}
        {% if troop.leader.districtId > 0 %}
            <dt>{{ 'form.district'|trans }}:</dt>
            <dd>
                <a href="{{ path('admin_volunteer_index', {districtId: troop.leader.districtId}) }}">
                    {{ troop.leader.districtId|districtname }}
                </a>
            </dd>
        {% endif %}
        <dt>{{ 'form.languages'|trans }}:</dt>
        <dd>{{ macro.languagesList(troop.leader) }}</dd>
        <dt>{{ 'form.service_main'|trans }}:</dt>
        <dd>
            <a href="{{ path('admin_volunteer_index', {serviceId: troop.leader.serviceMainId}) }}">
                {{ troop.leader.serviceMainId|servicename }}
            </a>
        </dd>
        {% if troop.leader.serviceExtraId %}
            <dt>{{ 'form.service_extra'|trans }}:</dt>
            <dd>
                <a href="{{ path('admin_volunteer_index', {serviceId: troop.leader.serviceExtraId}) }}">
                    {{ troop.leader.serviceExtraId|servicename }}
                </a>
            </dd>
        {% endif %}
        <dt>{{ 'form.permissions'|trans }}:</dt>
        <dd>{{ macro.permissionsList(troop.leader) }}</dd>
        <dt>{{ 'form.other_permissions'|trans }}:</dt>
        <dd>{{ troop.leader.otherPermissions is empty ? '-' : troop.leader.otherPermissions }}</dd>
        <dt>{{ 'form.profession'|trans }}:</dt>
        <dd>{{ troop.leader.profession is empty ? '-' : troop.leader.profession }}</dd>
        <dt>{{ 'form.dates'|trans }}:</dt>
        <dd>{{ troop.datesId|volunteerdate }}</dd>
        <dt>{{ 'form.comments'|trans }}:</dt>
        <dd>{{ troop.comments is empty ? '-' : troop.comments }}</dd>
        {% if troop.members.count > 0 %}
            <dt>{{ 'admin.troop_members'|trans({'%count%': troop.members.count}) }}:</dt>
            <dd>
                {% for member in troop.members %}
                    <a href="{{ path('admin_volunteer_show', {id: member.id}) }}">{{ member.firstName }} {{ member.lastName }}</a>{% if troop.leader.id == member.id %} ({{ 'admin.troop_leader'|trans }}){% endif %}{{ not loop.last ? ',' : '' }}
                {% endfor %}
            </dd>
        {% endif %}
        <dt>{{ 'admin.created_at'|trans }}:</dt>
        <dd>{{ troop.createdAt|date('Y-m-d') }}</dd>
    </dl>
{% endblock %}
