{% extends 'Wyd2016Bundle:admin:_template.html.twig' %}
{% import 'Wyd2016Bundle:admin:_macro.html.twig' as macro %}

{% block content %}
    <h1>{{ 'admin.groups'|trans }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'admin.name'|trans }}</th>
                <th>{{ 'form.status'|trans }}</th>
                <th>{{ 'admin.created_at'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td><a href="{{ path('admin_group_show', {id: group.id}) }}">{{ group.name }}</a></td>
                    <td>{{ group.status|statusname }}</td>
                    <td>{{ group.createdAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('admin_group_show', {id: group.id}) }}" class="btn btn-default btn-xs"
                            title="{{ 'admin.show'|trans }}">
                            <i class="glyphicon glyphicon-file"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ macro.pagination(groups) }}
{% endblock %}
