{% extends 'Wyd2016Bundle:admin:_template.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <h1>{{ 'admin.login.title'|trans }}</h1>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form action="{{ path('fos_user_security_check') }}" method="post">
                <div class="form-group">
                    <label for="username">{{ 'admin.login.username'|trans }}:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">{{ 'admin.login.password'|trans }}:</label>
                    <input type="password" id="password" name="_password" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'admin.login.submit'|trans }}"
                        class="btn btn-primary">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
            </form>
        </div>
    </div>
{% endblock %}
