{% import 'Wyd2016Bundle::_macro.html.twig' as globalMacro %}

{{ form_start(form) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'admin.edit.close'|trans }}">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ 'admin.edit.volunteer.title' |trans }}</h4>
    </div>
    <div class="modal-body">
        {{ globalMacro.flashBagMessages('error', true) }}
        <div class="form-group">
            {{ form_row(form.status, {attr: {class: 'form-control'}}) }}
            {{ form_row(form.emergencyInfo, {attr: {class: 'form-control'}}) }}
            {{ form_row(form.emergencyPhone, {attr: {class: 'form-control'}}) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'admin.edit.close'|trans }}</button>
        {{ form_widget(form.save, {attr: {class: 'btn btn-primary'}}) }}
    </div>
{{ form_end(form) }}
