{% extends 'Wyd2016Bundle:admin:_template.html.twig' %}
{% import 'Wyd2016Bundle:admin:_macro.html.twig' as macro %}

{% block content %}
    <a href="{{ path('admin_volunteer_list') }}" class="btn btn-primary btn-small">{{ 'admin.get_list'|trans }}</a>
    <h1>
        <a href="{{ path('admin_volunteer_index') }}">{{ 'admin.volunteers'|trans }}</a>
        {% if criteria.regionId is defined %}
            ({{ 'admin.region'|trans }} {{ criteria.regionId|regionname }})
        {% elseif criteria.districtId is defined %}
            ({{ 'admin.district'|trans }} {{ criteria.districtId|districtname }})
        {% endif %}
        - {{ 'admin.people_number'|transchoice(volunteers.count) }}
    </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'admin.name'|trans }}</th>
                <th>{{ 'admin.country'|trans }}</th>
                {% if criteria.regionId is defined %}
                    <th>{{ 'admin.district'|trans }}</th>
                {% elseif criteria.districtId is not defined %}
                    <th>{{ 'admin.region'|trans }}</th>
                {% endif %}
                <th>{{ 'form.status'|trans }}</th>
                <th>{{ 'admin.created_at'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for volunteer in volunteers %}
                <tr>
                    <td>
                        <a href="{{ path('admin_volunteer_show', {id: volunteer.id}) }}">{{ volunteer.name }}</a>
                        {% if volunteer.troop %}
                            (<a href="{{ path('admin_troop_show', {id: volunteer.troop.id}) }}">
                                {{- volunteer.troop.name -}}
                            </a>)
                        {% endif %}
                    </td>
                    <td>{{ volunteer.country|localizedcountry }}</td>
                    {% if criteria.regionId is defined %}
                        <td>
                            <a href="{{ path('admin_volunteer_index', {districtId: volunteer.districtId}) }}">
                                {{ volunteer.districtId|districtname }}
                            </a>
                        </td>
                    {% elseif criteria.districtId is not defined %}
                        <td>
                            {% if volunteer.regionId %}
                                <a href="{{ path('admin_volunteer_index', {regionId: volunteer.regionId}) }}">
                                    {{ volunteer.regionId|regionname }}
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ volunteer.status|statusname }}</td>
                    <td>{{ volunteer.createdAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('admin_volunteer_show', {id: volunteer.id}) }}" class="btn btn-default btn-xs"
                            title="{{ 'admin.show'|trans }}">
                            <i class="glyphicon glyphicon-file"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ criteria.regionId is defined or criteria.districtId is not defined ? 6 : 5 }}">
                        {{ 'admin.list.empty'|trans }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ macro.pagination(volunteers, criteria) }}
{% endblock %}
