{% extends 'Wyd2016Bundle:admin:_template.html.twig' %}
{% import 'Wyd2016Bundle:admin:_macro.html.twig' as macro %}
{% import 'Wyd2016Bundle::_macro.html.twig' as globalMacro %}

{% block content %}
    {{ globalMacro.flashBagMessages('success', true) }}
    {{ globalMacro.flashBagMessages('error', true) }}
    {% if isReminderSendingPossible %}
        <a href="{{ path('admin_volunteer_show', {id: volunteer.id, sendReminder: 'true'}) }}" class="btn btn-primary btn-small">{{ 'admin.reminder.button'|trans }}</a>
    {% elseif not volunteer.confirmed and volunteer.createdAt != volunteer.updatedAt %}
        {{ globalMacro.message('admin.reminder.sent_date'|trans({'%date%': volunteer.updatedAt|date('Y-m-d')}), 'message') }}
    {% endif %}
    <h1>{{ 'admin.volunteer'|trans }}</h1>
    <dl class="list">
        <dt>{{ 'form.status'|trans }}:</dt>
        <dd>{{ volunteer.status|statusname }}</dd>
        <dt>{{ 'form.first_name'|trans }}:</dt>
        <dd>{{ volunteer.firstName }}</dd>
        <dt>{{ 'form.last_name'|trans }}:</dt>
        <dd>{{ volunteer.lastName }}</dd>
        <dt>{{ 'form.address'|trans }}:</dt>
        <dd>{{ volunteer.address }}</dd>
        <dt>{{ 'form.phone'|trans }}:</dt>
        <dd>{{ volunteer.phone }}</dd>
        <dt>{{ 'form.email'|trans }}:</dt>
        <dd><a href="mailto:{{ volunteer.email }}">{{ volunteer.email }}</a></dd>
        <dt>{{ 'form.country'|trans }}:</dt>
        <dd>{{ volunteer.country|localizedcountry }}</dd>
        <dt>{{ 'form.birth_date'|trans }}:</dt>
        <dd>{{ volunteer.birthDate|date('Y-m-d') }}</dd>
        <dt>{{ 'admin.age_at_limit'|trans({'%date%': ageLimit}) }}:</dt>
        <dd>{{ volunteer.birthDate|ageatlimit }}</dd>
        <dt>{{ 'form.sex'|trans }}:</dt>
        <dd>{{ volunteer.sex|sexname }}</dd>
        {% if volunteer.gradeId > 0 %}
            <dt>{{ 'form.grade'|trans }}:</dt>
            <dd>{{ volunteer.gradeId|gradename }}</dd>
        {% endif %}
        {% if volunteer.regionId > 0 %}
            <dt>{{ 'form.region'|trans }}:</dt>
            <dd>{{ volunteer.regionId|regionname }}</dd>
        {% endif %}
        {% if volunteer.districtId > 0 %}
            <dt>{{ 'form.district'|trans }}:</dt>
            <dd>{{ volunteer.districtId|districtname }}</dd>
        {% endif %}
        {% if volunteer.pesel %}
            <dt>{{ 'form.pesel'|trans }}:</dt>
            <dd>{{ volunteer.pesel|peselmodify }}</dd>
        {% endif %}
        <dt>{{ 'form.shirt_size'|trans }}:</dt>
        <dd>{{ volunteer.shirtSize ? volunteer.shirtSize|shirtsizename : '-' }}</dd>
        <dt>{{ 'form.service_main'|trans }}:</dt>
        <dd>{{ volunteer.serviceMainId|servicename }}</dd>
        {% if volunteer.serviceExtraId %}
            <dt>{{ 'form.service_extra'|trans }}:</dt>
            <dd>{{ volunteer.serviceExtraId|servicename }}</dd>
        {% endif %}
        <dt>{{ 'form.languages'|trans }}:</dt>
        <dd>{{ macro.languagesList(volunteer) }}</dd>
        <dt>{{ 'form.permissions'|trans }}:</dt>
        <dd>{{ macro.permissionsList(volunteer) }}</dd>
        <dt>{{ 'form.other_permissions'|trans }}:</dt>
        <dd>{{ volunteer.otherPermissions is empty ? '-' : volunteer.otherPermissions }}</dd>
        <dt>{{ 'form.profession'|trans }}:</dt>
        <dd>{{ volunteer.profession is empty ? '-' : volunteer.profession }}</dd>
        <dt>{{ 'form.dates'|trans }}:</dt>
        <dd>{{ volunteer.datesId|volunteerdate }}</dd>
        <dt>{{ 'form.comments'|trans }}:</dt>
        <dd>{{ volunteer.comments is empty ? '-' : volunteer.comments }}</dd>
        {% if volunteer.troop %}
            <dt>{{ 'form.troop_name'|trans }}:</dt>
            <dd>
                <a href="{{ path('admin_troop_show', {id: volunteer.troop.id}) }}">{{ volunteer.troop.name }}</a>
                {% if volunteer.troop.leader.id == volunteer.id %}({{ 'admin.troop_leader'|trans }}){% endif %}
            </dd>
        {% endif %}
        <dt>{{ 'admin.created_at'|trans }}:</dt>
        <dd>{{ volunteer.createdAt|date('Y-m-d') }}</dd>
    </dl>
{% endblock %}
