{% extends 'Wyd2016Bundle:registration:_template.html.twig' %}
{% import 'Wyd2016Bundle:registration:_macro.html.twig' as macro %}
{% import 'Wyd2016Bundle::_macro.html.twig' as globalMacro %}

{% set pageTitle = 'pilgrims.form.title'|trans %}

{% block content %}
    {{ globalMacro.flashBagMessages('error', true) }}
    <h1>{{ 'pilgrims.form.title'|trans }}</h1>
    <p>{{ 'pilgrims.form.description'|trans({'%age%': min_age_adult, '%date%': age_limit}) }}</p>
    {{ form_start(form, {'attr': {'class': 'registration-form registration-form-pilgrim'}}) }}
        {{ macro.formRow(form.firstName) }}
        {{ macro.formRow(form.lastName) }}
        {{ macro.formRow(form.address) }}
        {{ macro.formRow(form.phone) }}
        {{ macro.formRow(form.email) }}
        {{ macro.formRow(form.country) }}
        {{ macro.formRow(form.birthDate, {date: true}) }}
        {{ macro.formRow(form.datesId) }}
        {{ macro.formRow(form.comments) }}
        {{ macro.formCheckboxRow(form.personalData) }}
        <div class="form-group form-checkbox">
            {{ form_widget(form.rules) }}
            <label for="{{ form.rules.vars.id }}">{{ 'form.rules'|trans({'%url%': macro.mainPage('rules_pilgrim')})|raw }}</label>
            {{ form_errors(form.rules) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
