{% extends 'Wyd2016Bundle:admin:_template.html.twig' %}

{% block content %}
    <h1>{{ 'admin.search'|trans }}</h1>
    {{ form_start(form, {attr: {id: 'search-form', class: 'row'}}) }}
        <div class="search-form-cell col-sm-3">
            {{ form_row(form.type) }}
        </div>
        <div class="search-form-cell col-sm-9">
            {{ form_row(form.query) }}
        </div>
        <div class="search-form-submit col-xs-12">
            {{ form_row(form.search) }}
        </div>
    {{ form_end(form) }}
    <h2>
        {% block search_header %}
            {% if results is iterable %}
                {% block search_header_title %}
                {% endblock %}
                ({{ 'admin.search.query'|trans|lower }} "{{ query }}")
                {% block search_header_length %}
                    - {{ results|length }}
                {% endblock %}
            {% endif %}
        {% endblock %}
    </h2>
    {% if results is iterable %}
        <table class="table table-striped">
            <thead>
                {% block search_results_header %}
                    <tr>
                        <th>{{ 'admin.name'|trans }}</th>
                        <th>{{ 'form.status'|trans }}</th>
                        <th>{{ 'admin.created_at'|trans }}</th>
                        <th></th>
                    </tr>
                {% endblock %}
            </thead>
            <tbody>
                {% block search_results_list %}
                {% endblock %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'admin.search.no_query'|trans }}</p>
    {% endif %}
{% endblock %}
