{% extends 'Wyd2016Bundle:admin:search/_template.html.twig' %}

{% block search_header_title %}
    <a href="{{ path('admin_pilgrim_index') }}">{{ 'admin.pilgrims'|trans }}</a>
{% endblock %}

{% block search_header_length %}
    - {{ 'admin.people_number'|transchoice(results|length) }}
{% endblock %}

{% block search_results_list %}
    {% for pilgrim in results %}
        <tr>
            <td>
                <a href="{{ path('admin_pilgrim_show', {id: pilgrim.id}) }}">{{ pilgrim.name }}</a>
                {% if pilgrim.group %}
                    (<a href="{{ path('admin_group_show', {id: pilgrim.group.id}) }}">
                        {{- pilgrim.group.name -}}
                    </a>)
                {% endif %}
            </td>
            <td>
                <a href="{{ path('admin_pilgrim_index', {status: pilgrim.status}) }}">
                    {{ pilgrim.status|statusname }}
                </a>
            </td>
            <td>{{ pilgrim.createdAt|date('Y-m-d') }}</td>
            <td>
                <a href="{{ path('admin_pilgrim_show', {id: pilgrim.id}) }}" class="btn btn-default btn-xs"
                    title="{{ 'admin.show'|trans }}">
                    <i class="glyphicon glyphicon-file"></i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                {{ 'admin.list.empty'|trans }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
