{% extends 'Wyd2016Bundle:admin:search/_template.html.twig' %}

{% block search_header_title %}
    <a href="{{ path('admin_troop_index') }}">{{ 'admin.troops'|trans }}</a>
{% endblock %}

{% block search_results_list %}
    {% for troop in results %}
        <tr>
            <td>
                <a href="{{ path('admin_troop_show', {id: troop.id}) }}">{{ troop.name }}</a>
            </td>
            <td>
                <a href="{{ path('admin_troop_index', {status: troop.status}) }}">
                    {{ troop.status|statusname }}
                </a>
            </td>
            <td>{{ troop.createdAt|date('Y-m-d') }}</td>
            <td>
                <a href="{{ path('admin_troop_show', {id: troop.id}) }}" class="btn btn-default btn-xs"
                    title="{{ 'admin.show'|trans }}">
                    <i class="glyphicon glyphicon-file"></i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                {{ 'admin.list.empty'|trans }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
