<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ pageTitle is defined ? pageTitle ~ ' - ' }}{{ 'layout.title'|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('registration_index') }}" style="line-height:44px;padding:3px 15px">
                            <img alt="{{ 'layout.title'|trans }}" src="/img/logo.png">
                        </a>
                    </div>
                    <div id="bs-example-navbar-collapse-5" class="collapse navbar-collapse">
                        <p class="navbar-text navbar-right" style="margin-right:15px">
                            {% for locale in locales %}
                                {% if locale == app.request.locale %}
                                    <span class="navbar-link">{{ locale|upper }}</span>
                                {% else %}
                                    <a href="{{ path('registration_index', {_locale: locale}) }}" class="navbar-link">
                                        {{ locale|upper }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
