<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ pageTitle is defined ? pageTitle ~ ' - ' }}{{ 'layout.title'|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-locales" aria-expanded="false">
                            <span class="sr-only">{{ 'layout.navigation.toggle'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brand-logo" href="{{ main_page_url }}" target="_blank">
                            <img alt="{{ 'wyd_www.title'|trans }}" src="{{ asset('img/logo.png') }}">
                        </a>
                        <a class="navbar-brand navbar-brand-title" href="{{ path('registration_index') }}">
                            {{ 'layout.title_short'|trans }}
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-locales">
                        <ul class="nav navbar-nav navbar-right header-locales">
                            {% for locale in locales %}
                                {% if locale == app.request.locale %}
                                    <li class="header-locale">
                                        <span title="{{ locale|upper }}" class="navbar-link header-locale-item header-locale-{{ locale }}">
                                            {{ locale|upper }}
                                        </span>
                                    </li>
                                {% else %}
                                    <li class="header-locale">
                                        <a href="{{ path('registration_index', {_locale: locale}) }}" title="{{ locale|upper }}" class="navbar-link header-locale-item header-locale-{{ locale }}">
                                            {{ locale|upper }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
