{% macro nextStepsBox() %}
    <h1>{{ 'next_steps.title'|trans }}:</h1>
    <div class="btn-group-vertical btn-group-lg">
        <a href="{{ path('registration_pilgrim_form') }}" class="btn btn-default">
            {{ 'next_steps.register_pilgrim'|trans }}
        </a>
        <a href="{{ path('registration_volunteer_form') }}" class="btn btn-default">
            {{ 'next_steps.register_volunteer'|trans }}
        </a>
        <a href="#" target="_blank" class="btn btn-default">
            {{ 'next_steps.volunteers_page'|trans }}
        </a>
        <a href="http://www.krakow2016.com{{ app.request.locale != 'pl' ? '/' ~ app.request.locale : '' }}"
            target="_blank" class="btn btn-default">
            {{ 'next_steps.official_page'|trans }}
        </a>
    </div>
{% endmacro %}

{% macro flashBagMessages(type = 'message', translate = false) %}
    {{ _self.messages(app.session.flashbag.get(type), type, translate) }}
{% endmacro %}

{% macro messages(messages, type = 'message', translate = false) %}
    {% if messages is defined and messages|length > 0 %}
        {% for message in messages %}
            <div class="alert alert-{{ type == 'message' ? 'info' : (type == 'error' ? 'danger' : type) }}">
                {{ translate ? message|trans : message }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}
