{% macro nextStepsBox() %}
    <h1>{{ 'next_steps.title'|trans }}:</h1>
    <ul>
        <li>
            <a href="{{ path('registration_pilgrim_form') }}">{{ 'next_steps.register_pilgrim'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('registration_scout_form') }}">{{ 'next_steps.register_scout'|trans }}</a>
        </li>
        <li>
            <a href="#" target="_blank">{{ 'next_steps.scouts_page'|trans }}</a>
        </li>
        <li>
            <a href="http://www.krakow2016.com{{ app.request.locale != 'pl' ? '/' ~ app.request.locale : '' }}"
                target="_blank">{{ 'next_steps.official_page'|trans }}</a>
        </li>
    </ul>
{% endmacro %}

{% macro flashBagMessages(type = 'message', translate = false) %}
    {{ _self.messages(app.session.flashbag.get(type), type, translate) }}
{% endmacro %}

{% macro messages(messages, type = 'message', translate = false) %}
    {% if messages is defined and messages|length > 0 %}
        <ul class="messages">
            {% for message in messages %}
                <li class="message{{ type == 'message' ? '' : ' message-' ~ type }}">
                    {{ translate ? message|trans : message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
