{% macro nextStepsBox(pilgrimsLimitsExceeded, volunteersLimitsExceeded) %}
    <h1>{{ 'next_steps.title'|trans }}:</h1>
    <div class="btn-group-vertical btn-group-lg">
        {% if not volunteersLimitsExceeded %}
            <a href="{{ path('registration_volunteer_form') }}" class="btn btn-default">
                {{ 'next_steps.register_volunteer'|trans }}
            </a>
            <a href="{{ path('registration_troop_form') }}" class="btn btn-default">
                {{ 'next_steps.register_troop'|trans }}
            </a>
        {% endif %}
        {% if not pilgrimsLimitsExceeded %}
            <a href="{{ path('registration_pilgrim_form') }}" class="btn btn-default">
                {{ 'next_steps.register_pilgrim'|trans }}
            </a>
            <a href="{{ path('registration_group_form') }}" class="btn btn-default">
                {{ 'next_steps.register_group'|trans }}
            </a>
        {% endif %}
        <a href="{{ _self.mainPage() }}" target="_blank" class="btn btn-default">
            {{ 'next_steps.volunteers_page'|trans }}
        </a>
        <a href="{{ _self.wydPage() }}"
            target="_blank" class="btn btn-default">
            {{ 'next_steps.official_page'|trans }}
        </a>
    </div>
{% endmacro %}

{% macro formCheckboxRow(element) %}
    <div class="form-group form-checkbox">
        {{ form_widget(element) }}
        {{ form_label(element) }}
        {{ form_errors(element) }}
    </div>
{% endmacro %}

{% macro formRow(element, options = {}) %}
    <div class="form-group{% if options.info is defined %} form-info{% endif %}"
        {% if options.locale is defined %} data-specific-locale="{{ options.locale }}"{% endif %}>
        {{ form_label(element) }}
        {% if options.date is defined %}
            <div class="input-group date">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                {{ form_widget(element, {attr: {class: 'span2 form-control', maxlength: 10, pattern: '[0-9]{4}-[0-9]{2}-[0-9]{2}', placeholder: 'YYYY-MM-DD'}}) }}
            </div>
        {% else %}
            {{ form_widget(element, {attr: {class: 'form-control'}}) }}
        {% endif %}
        {% if options.info is defined %}{{ _self.formInfo(options.info) }}{% endif %}
        {{ form_errors(element) }}
    </div>
{% endmacro %}

{% macro groupMember(member, no = 1, leaderData = null) %}
    {% set isLeader = leaderData and leaderData is same as (member.vars.data) %}
    <div class="col-sm-6 member">
        <h2>{{ isLeader ? 'group.form.leader'|trans : 'group.form.member'|trans({'%no%': no}) }}</h2>
        {{ _self.formRow(member.firstName) }}
        {{ _self.formRow(member.lastName) }}
        {{ _self.formRow(member.address) }}
        {{ _self.formRow(member.phone) }}
        {{ _self.formRow(member.email, isLeader ? {info: 'form.tip.email'|trans} : {}) }}
        {{ _self.formRow(member.birthDate, {date: true}) }}
        {{ _self.formRow(member.sex) }}
        {{ _self.formRow(member.shirtSize) }}
    </div>
{% endmacro %}

{% macro troopMember(member, no = 1, leaderData = null) %}
    {% set isLeader = leaderData and leaderData is same as (member.vars.data) %}
    <div class="col-sm-6 member">
        <h2>{{ isLeader ? 'troop.form.leader'|trans : 'troop.form.member'|trans({'%no%': no}) }}</h2>
        {{ _self.formRow(member.firstName) }}
        {{ _self.formRow(member.lastName) }}
        {{ _self.formRow(member.address) }}
        {{ _self.formRow(member.phone) }}
        {{ _self.formRow(member.email, isLeader ? {info: 'form.tip.email'|trans} : {}) }}
        {{ _self.formRow(member.birthDate, {locale: '', date: true}) }}
        {{ _self.formRow(member.sex, {locale: ''}) }}
        {{ _self.formRow(member.pesel, {locale: 'PL'}) }}
        {{ _self.formRow(member.fatherName) }}
        {{ _self.formRow(member.gradeId, {locale: 'PL'}) }}
        {{ _self.formRow(member.shirtSize) }}
    </div>
{% endmacro %}

{% macro mainPage(type = 'url') %}{% spaceless %}
    {{ _self.externalPage(main_page, type) }}
{% endspaceless %}{% endmacro %}

{% macro wydPage(type = 'url') %}{% spaceless %}
    {{ _self.externalPage(wyd_page, type) }}
{% endspaceless %}{% endmacro %}

{% macro externalPage(data, type = 'url') %}{% spaceless %}
    {% set currentLocale = app.request.locale in locales ? app.request.locale : defaultLocale %}
    {{ data.url[currentLocale] }}{{ type != 'url' ? data[type][currentLocale] : '' }}
{% endspaceless %}{% endmacro %}

{% macro formInfo(text, tooltipPlacement = 'left') %}
    <div class="info" data-toggle="tooltip" data-placement="{{ tooltipPlacement }}" title="{{ text }}"></div>
{% endmacro %}
