{% extends 'Wyd2016Bundle:registration:template.html.twig' %}

{% block body %}
    <h1>{{ 'index.title'|trans }}:</h1>
    <div class="btn-group-vertical btn-group-lg">
        <a href="{{ path('registration_pilgrim_form') }}" class="btn btn-default">{{ 'index.pilgrim'|trans }}</a>
        <a href="{{ path('registration_volunteer_form') }}" class="btn btn-default">{{ 'index.volunteer'|trans }}</a>
    </div>
{% endblock %}
