{% extends 'Wyd2016Bundle:registration:template.html.twig' %}
{% import "Wyd2016Bundle:registration:_macro.html.twig" as macro %}

{% set pageTitle = 'pilgrims.form.title'|trans %}

{% block body %}
    {{ macro.flashBagMessages('error', true) }}
    <h1>{{ 'pilgrims.form.title'|trans }}</h1>
    {{ form_start(form, {'attr': {'class': 'registration-form registration-form-pilgrim'}}) }}
        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.lastName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.address) }}
            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.address) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.phone) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.country) }}
            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.country) }}
        </div>
        <div class="form-group">
            {{ form_label(form.birthDate) }}
            {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.birthDate) }}
        </div>
        <div class="form-group form-info">
            {{ form_label(form.dateFrom) }}
            {{ form_widget(form.dateFrom, {'attr': {'class': 'form-control'}}) }} {{ macro.formInfo('???') }}
            {{ form_errors(form.dateFrom) }}
        </div>
        <div class="form-group form-info">
            {{ form_label(form.dateTo) }}
            {{ form_widget(form.dateTo, {'attr': {'class': 'form-control'}}) }} {{ macro.formInfo('???') }}
            {{ form_errors(form.dateTo) }}
        </div>
        <div class="form-group">
            {{ form_label(form.comments) }}
            {{ form_widget(form.comments, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.comments) }}
        </div>
        <div class="form-group form-checkbox">
            {{ form_widget(form.personalData) }}
            {{ form_label(form.personalData) }}
            {{ form_errors(form.personalData) }}
        </div>
        <div class="form-group form-checkbox">
            {{ form_widget(form.rules) }}
            <label for="{{ form.rules.vars.id }}">{{ 'form.rules.acceptance'|trans }} <a href="{{ path('registration_rules') }}" target="_blank">{{ 'form.rules.name'|trans }}</a></label>
            {{ form_errors(form.rules) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
