{% extends 'Wyd2016Bundle:registration:template.html.twig' %}
{% import "Wyd2016Bundle:registration:_macro.html.twig" as macro %}

{% set pageTitle = 'scouts.form.title'|trans %}

{% block body %}
    {{ macro.flashBagMessages('error', true) }}
    <h1>{{ 'scouts.form.title'|trans }}</h1>
    {{ form_start(form, {'attr': {'class': 'registration-form registration-form-scout'}}) }}
        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.lastName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.gradeId) }}
            {{ form_widget(form.gradeId, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.gradeId) }}
        </div>
        <div class="form-group">
            {{ form_label(form.regionId) }}
            {{ form_widget(form.regionId, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.regionId) }}
        </div>
        <div class="form-group">
            {{ form_label(form.pesel) }}
            {{ form_widget(form.pesel, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.pesel) }}
        </div>
        <div class="form-group">
            {{ form_label(form.address) }}
            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.address) }}
        </div>
        <div class="form-group">
            {{ form_label(form.serviceId) }}
            {{ form_widget(form.serviceId, {'attr': {'class': 'form-control'}}) }} <div class="info" title="???"></div>
            {{ form_errors(form.serviceId) }}
        </div>
        <div class="form-group">
            {{ form_label(form.permissions) }}
            {{ form_widget(form.permissions, {'attr': {'class': 'form-control'}}) }} <div class="info" title="???"></div>
            {{ form_errors(form.permissions) }}
        </div>
        <div class="form-group">
            {{ form_label(form.languages) }}
            {{ form_widget(form.languages, {'attr': {'class': 'form-control'}}) }} <div class="info" title="???"></div>
            {{ form_errors(form.languages) }}
        </div>
        <div class="form-group">
            {{ form_label(form.profession) }}
            {{ form_widget(form.profession, {'attr': {'class': 'form-control'}}) }} <div class="info" title="???"></div>
            {{ form_errors(form.profession) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.phone) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateFrom) }}
            {{ form_widget(form.dateFrom, {'attr': {'class': 'form-control'}}) }} <div class="info" title="???"></div>
            {{ form_errors(form.dateFrom) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateTo) }}
            {{ form_widget(form.dateTo, {'attr': {'class': 'form-control'}}) }} <div class="info" title="???"></div>
            {{ form_errors(form.dateTo) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.personalData) }}
            {{ form_label(form.personalData) }}
            {{ form_errors(form.personalData) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.rules) }}
            <label for="{{ form.rules.vars.id }}">{{ 'form.rules.acceptance'|trans }} <a href="{{ path('registration_rules') }}" target="_blank">{{ 'form.rules.name'|trans }}</a></label>
            {{ form_errors(form.rules) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
