{% extends 'Wyd2016Bundle:registration:template.html.twig' %}
{% import "Wyd2016Bundle:registration:_macro.html.twig" as macro %}

{% set pageTitle = 'troop.form.title'|trans %}

{% block body %}
    {{ macro.flashBagMessages('error', true) }}
    <h1>{{ 'troop.form.title'|trans }}</h1>
    <p>{{ 'troop.form.description'|trans({'%age%': min_age_member, '%date%': age_limit, '%min_size%': troop.min_size, '%max_size%': troop.max_size}) }}</p>
    {{ form_start(form, {'attr': {'class': 'registration-form registration-form-troop'}}) }}
        {{ macro.formRow(form.name) }}
        {{ macro.formRow(form.country) }}
        {{ macro.formRow(form.regionId, {locale: 'PL'}) }}
        {{ macro.formRow(form.districtId, {locale: 'PL'}) }}
        {{ macro.formRow(form.languages) }}
        {{ macro.formRow(form.permissions, {info: 'form.tip.permissions'|trans}) }}
        {{ macro.formRow(form.profession) }}
        {{ macro.formRow(form.datesId) }}
        {{ macro.formRow(form.comments) }}
        <div data-item-name="member" data-max-size="{{ troop.max_size }}" data-prototype="{{ macro.troopMember(form.members.vars.prototype, '__no__')|e }}">
            <div class="row">
                {% for member in form.members %}
                    {% if loop.index0 > 0 and loop.index0 is even %}
                        </div><div class="row">
                    {% endif %}
                    {{ macro.troopMember(member, loop.index, form.vars.data.leader) }}
                {% endfor %}
            </div>
        </div>
        <div class="form-group" style="display:none">
            <span id="add-member" class="btn btn-default btn-lg" style="width:100%">
                {{ 'troop.form.add_member'|trans }}
            </span>
        </div>
        {{ macro.formCheckboxRow(form.personalData) }}
        <div class="form-group form-checkbox">
            {{ form_widget(form.rules) }}
            <label for="{{ form.rules.vars.id }}">{{ 'form.rules.acceptance'|trans }} <a href="{{ main_page_rules_url }}" target="_blank">{{ 'form.rules.name'|trans }}</a></label>
            {{ form_errors(form.rules) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
