{% extends 'Wyd2016Bundle:registration:template.html.twig' %}
{% import "Wyd2016Bundle:registration:_macro.html.twig" as macro %}

{% set pageTitle = 'troop.form.title'|trans %}

{% block body %}
    {{ macro.flashBagMessages('error', true) }}
    <h1>{{ 'troop.form.title'|trans }}</h1>
    <p>{{ 'troop.form.description'|trans({'%age%': min_age_member, '%date%': age_limit}) }}</p>
    {{ form_start(form, {'attr': {'class': 'registration-form registration-form-troop'}}) }}
        {{ macro.formRow(form.name) }}
        {{ macro.formRow(form.country) }}
        {{ macro.formRow(form.regionId, {locale: 'PL'}) }}
        {{ macro.formRow(form.districtId, {locale: 'PL'}) }}
        {{ macro.formRow(form.languages) }}
        {{ macro.formRow(form.permissions, {info: 'form.tip.permissions'|trans}) }}
        {{ macro.formRow(form.profession) }}
        {{ macro.formRow(form.datesId) }}
        {{ macro.formRow(form.comments) }}
        <div class="row">
            {% for member in form.members %}
                {% if loop.index0 > 0 and loop.index0 is even %}
        </div>
        <div class="row">
                {% endif %}
                <div class="col-sm-6">
                    <h2>{{ form.vars.data.leader is same as (member.vars.data) ? 'troop.form.leader'|trans : 'troop.form.member'|trans({'%no%': loop.index}) }}</h2>
                    {{ macro.formRow(member.firstName) }}
                    {{ macro.formRow(member.lastName) }}
                    {{ macro.formRow(member.address) }}
                    {{ macro.formRow(member.phone) }}
                    {{ macro.formRow(member.email) }}
                    {{ macro.formRow(member.birthDate, {locale: '', date: true}) }}
                    {{ macro.formRow(member.pesel, {locale: 'PL'}) }}
                    {{ macro.formRow(member.gradeId, {locale: 'PL'}) }}
                </div>
            {% endfor %}
        </div>
        {{ macro.formCheckboxRow(form.personalData) }}
        <div class="form-group form-checkbox">
            {{ form_widget(form.rules) }}
            <label for="{{ form.rules.vars.id }}">{{ 'form.rules.acceptance'|trans }} <a href="{{ main_page_rules_url }}" target="_blank">{{ 'form.rules.name'|trans }}</a></label>
            {{ form_errors(form.rules) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
