{% extends 'Wyd2016Bundle:registration:template.html.twig' %}
{% import "Wyd2016Bundle:registration:_macro.html.twig" as macro %}

{% set pageTitle = 'volunteer.form.title'|trans %}

{% block body %}
    {{ macro.flashBagMessages('error', true) }}
    <h1>{{ 'volunteer.form.title'|trans }}</h1>
    {{ form_start(form, {'attr': {'class': 'registration-form registration-form-volunteer'}}) }}
        {{ macro.formRow(form.firstName) }}
        {{ macro.formRow(form.lastName) }}
        {{ macro.formRow(form.address) }}
        {{ macro.formRow(form.phone) }}
        {{ macro.formRow(form.email) }}
        {{ macro.formRow(form.country) }}
        {{ macro.formRow(form.birthDate, {locale: '', date: true}) }}
        {{ macro.formRow(form.gradeId, {locale: 'PL'}) }}
        {{ macro.formRow(form.regionId, {locale: 'PL'}) }}
        {{ macro.formRow(form.districtId, {locale: 'PL'}) }}
        {{ macro.formRow(form.pesel, {locale: 'PL'}) }}
        {{ macro.formRow(form.serviceMainId, {info: '???'}) }}
        {{ macro.formRow(form.serviceExtraId, {info: '???'}) }}
        {{ macro.formRow(form.permissions, {info: '???'}) }}
        {{ macro.formRow(form.languages, {info: '???'}) }}
        {{ macro.formRow(form.profession, {info: '???'}) }}
        {{ macro.formCheckboxRow(form.ownTent) }}
        {{ macro.formRow(form.datesId) }}
        {{ macro.formRow(form.comments) }}
        {{ macro.formCheckboxRow(form.personalData) }}
        <div class="form-group form-checkbox">
            {{ form_widget(form.rules) }}
            <label for="{{ form.rules.vars.id }}">{{ 'form.rules.acceptance'|trans }} <a href="{{ main_page_rules_url }}" target="_blank">{{ 'form.rules.name'|trans }}</a></label>
            {{ form_errors(form.rules) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
