{% extends 'Wyd2016Bundle:admin:_template.html.twig' %}

{% block content %}
    {% for list in lists %}
        {% if loop.index is odd %}
            <div class="row">
        {% endif %}
        <div class="col-sm-6">
            <h3>
                <a href="{{ path(list.routeIndex) }}">{{ list.title|trans }}</a>
                {{ list.counter|trans({'%limit%': limit > list.totalNumber ? list.totalNumber : limit, '%totalNumber%': list.totalNumber}) }}
            </h3>
            <table class="table table-striped">
                <tbody>
                    {% for item in list.items %}
                        <tr>
                            <td><a href="{{ path(list.routeShow, {id: item.id}) }}">{{ item.name }}</a></td>
                            <td>{{ item.createdAt|date('Y-m-d') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if loop.index is even %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-6">
            <h3>
                {{ 'admin.stats.services'|trans }}
            </h3>
            <table class="table table-striped">
                <tbody>
                    {% for service, counters in stats.services %}
                        <tr>
                            <td>{{ service|servicename }}</td>
                            <td>{{ 'admin.stats.services_counters'|trans({'%all%': counters.main + counters.extra, '%main%': counters.main}) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3>
                {{ 'admin.stats.countries'|trans }}
            </h3>
            <table class="table table-striped">
                <tbody>
                    {% for country, counter in stats.countries %}
                        <tr>
                            <td>{{ country|localizedcountry }}</td>
                            <td>{{ counter }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>
                {{ 'admin.stats.regions'|trans }}
            </h3>
            <table class="table table-striped">
                <tbody>
                    {% for region, counter in stats.regions %}
                        <tr>
                            <td>{{ region|regionname }}</td>
                            <td>{{ counter }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
